<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dynamoDBloader/src/main/java/com/mattbob/dynamodb/F1ProdCatalogLoader.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mattbob.dynamodb.F1ProdCatalogLoader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\mcoleman\Documents\Rosy\FloristOneCatalog.csv&#13;&#10;rosy_f1_product_catalog"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dynamoDBloader"/>
</launchConfiguration>
